<%= form_for(@testtask) do |f| %>
  <% if @testtask.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testtask.errors.count, "error") %> prohibited this testtask from being saved:</h2>

      <ul>
      <% @testtask.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Title'  %><br>
    <%= f.text_field :name, :class =>"textTitle" %>
  </div>
  <div class="field">
    <%= f.label 'Text'%><br>
    <%= f.text_area :tasktext, :maxlength => 255 %>
  </div>
 <!-- <div class="field">
    <%#= f.label :created %><br>
    <%#= f.datetime_select :created %>
  </div>
  <div class="field">
    <%#= f.label :updated %><br>
    <%#= f.datetime_select :updated_at %>
  </div>
  -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
