<p id="notice"><%= notice %></p>

<h1>Listing tasks</h1>

<table border="solid">
  <thead>
    <tr>
      <th width="200px">Task title</th>
      <th width="50%">Text</th>
      <th>Created</th>
      <th>Updated</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @testtasks.each do |testtask| %>
      <tr>
        <td><%= testtask.name %></td>
        <td><%= testtask.tasktext %></td>
        <td><%= testtask.created_at.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= testtask.updated_at.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= link_to 'Show', testtask %></td>
        <td><%= link_to 'Edit', edit_testtask_path(testtask) %></td>
        <td><%= link_to 'Destroy', testtask, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New task', new_testtask_path %>
