<h1>Task details</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @testtask.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @testtask.tasktext %>
</p>

<p>
  <strong>Created:</strong>
  <%= @testtask.created_at.strftime("%d/%m/%Y %H:%M") %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @testtask.updated_at.strftime("%d/%m/%Y %H:%M") %>
</p>

<%= link_to 'Edit', edit_testtask_path(@testtask) %> |
<%= link_to 'Back', testtasks_path %>

<br>
<h2>Comments</h2>

<table border="solid">
  <thead>
  <tr>
    <th width="200px">Comment title</th>
    <th width="50%">Comment</th>
    <th>Created</th>
    <th>Updated</th>
    <th colspan="3">Action</th>
  </tr>
  </thead>

  <tbody>
  <%  @testtask.comments.each do |comment| %>
      <tr>
        <td><%= comment.title %></td>
        <td><%= comment.comment %></td>
        <td><%= comment.created_at.strftime("%d/%m/%Y %H:%M") %>
        <td><%= comment.updated_at.strftime("%d/%m/%Y %H:%M") %>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= form_for Comment.new do |f| %>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :comment %><br>
      <%= f.text_area :comment, :maxlength => 255 %>
    </div>
    <%= f.hidden_field :testtask_id, :value => @testtask.id %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<%#= link_to 'New Comment', new_comment_path(@testtask.id) %>

<!--
<p>
  <strong>Comments:</strong>
    <table>
        <thead>
            <tr>
                <th>title</th>
                <th>created</th>
                <th>Updated</th>
                <th colspan="3"></th>
            </tr>
        </thead>
        <tbody>
            <%# @testtask.testdetails.each do |testdetail| %>
                <tr>
                    <td><%#= testdetail.detailtext %></td>
                    <td><%#= testdetail.created_at %></td>
                    <td><%#= testdetail.updated_at %></td>
                    <td>'aaa'</td>
                </tr>
            <%# end %>
        </tbody>
    </table>
-->

</p>
